Read our csv

In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

/var/folders/79/25lz7tfj5hv93cvxd55stz6c0000gn/T/ipykernel_5985/3053829896.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

   Height (meters)  Weight (kg)  health index
0            1.786       73.142             0
1            1.988       83.712             0
2            1.808       72.399             0
3            1.771       69.686             0
4            1.725       66.270             0

In [2]:
X = df.drop('health index', axis=1).copy()
X.head()

   Height (meters)  Weight (kg)
0            1.786       73.142
1            1.988       83.712
2            1.808       72.399
3            1.771       69.686
4            1.725       66.270